body {
    margin: 0;
    font-family: sans-serif;
    background: radial-gradient(circle at top left, #7faef9, #0f1220);
    color: #fff;
    overflow-x: hidden;
    background-image: url(fundo.jpg);
  }
  
  .menu {
    background:#0BA8BC;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .menu button {
    background-color: #b52698;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 8px;
  }
  
  .menu button:hover {
    background-color: #8e1c72; /* tom mais escuro */
    transform: scale(1.05);   /* leve aumento */
  }

  button:hover {
    background-color: #8e1c72; 
  }
  
  .ranking {
    padding: 20px;
  }
  
  .ranking h1 {
    text-align: center;
    font-size: 2em;
  }
  
  .lista {
    list-style: none;
    padding: 0;
    max-width: 500px;
    margin: auto;
  }
  
  .lista li {
    display: flex;
    justify-content: space-between;
    background: #171a2a;
    border: 1px solid #2a2e4d;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
  }
  
  .top1 { border-color: gold; }
  .top2 { border-color: silver; }
  .top3 { border-color: #cd7f32; }
  
  .posicao {
    font-weight: bold;
    width: 30px;
  }
  
  .nome {
    flex: 1;
    text-align: left;
  }
  
  .pontos {
    font-weight: bold;
    color: #ffb703;
  }
  
  .podio {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    margin: 40px 0;
  }
  
  .podio > div {
    text-align: center;
    background: #171a2a;
    border: 1px solid #2a2e4d;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    width: 100px;
  }
  
  .primeiro .base {
    height: 120px;
    background: linear-gradient(to top, #3a86ff, #171a2a);
  }
  
  .segundo .base {
    height: 100px;
    background: #2a2e4d;
  }
  
  .terceiro .base {
    height: 80px;
    background: #2a2e4d;
  }
  
  .avatar {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .mensagem {
    text-align: center;
    background: #38b000;
    color: #fff;
    padding: 10px;
    margin: 20px auto;
    width: fit-content;
    border-radius: 8px;
    display: none;
  }
  
  #confete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  